doctype html 
html 
    head 
        title sarthak dance academy 
        block scripts
        block style
    nav
        ul
            #logo
                img(src="https://i.pinimg.com/600x315/da/c9/4c/dac94cfafc912ed8604aad31bcbfbf04.jpg" alt="sda")
                | SDA 
            li
                a(href="/") Home
            li
                a(href="/") About
            li
                a(href="/contact") Contact Us
            li
                a(href="/") Services
    body 
        block content
        footer#footer
            | Copyright © 2019 SarthakDanceAcademy.com | All Rights Reserved