<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SARTHAK DANCE WEBSITE</title>
    <style>@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap');</style>
    style

        include ../static/style.css
</head>
nav
  ul
    #logo
      img(src="https://cdn.pixabay.com/photo/2020/06/20/16/32/dance-5321562_1280.jpg", alt="sda")
      | HDA
    li
      a(href="/") Home
    li
      a(href="/") About
    li
      a(href="/contact") Contact Us
    li
      a(href="/") Services
section#intro
  h2 Welcome to Sarthak dance academy
  .small EAT SLEEP DANCE REPEAT
section#mission
  h2 OUR MISSION
  #ourmission
    .card
      h3 Dance the way you like
      .card-box
        .card-img
          img(src="https://c0.wallpaperflare.com/preview/792/591/673/dance-yoga-meditation-woman.jpg", alt="error")
        .card-content
          p the best dance academy
    .card
      h3 Expert teaching
      .card-box
        .card-img
          img(src="https://c4.wallpaperflare.com/wallpaper/824/751/651/dancing-black-step-up-wallpaper-preview.jpg", alt="error")
        .card-content
          p the best dance academy
    .card
      h3 Dance perfection
      .card-box
        .card-img
          img(src="https://c4.wallpaperflare.com/wallpaper/224/704/845/street-dance-girl-wallpaper-preview.jpg", alt="error")
        .card-content
          p the best dance academy
section#clients
  h2 OUR CLIENTS
  .sponsors
    .spimages
      img(src="https://www.teahub.io/photos/full/3-30700_microsoft-logo-wallpaper-microsoft-corporation.png", alt)
    .spimages
      img(src="https://images.pond5.com/8k-skype-logo-symbol-icon-footage-068294374_iconl.jpeg", alt)
    .spimages
      img(src="https://blog.hubspot.com/hubfs/image8-2.jpg", alt)
footer Copyright © 2019 SarthakDanceAcademy.com | All Rights Reserved
| 
script include ../static/index.js
